// Opening
@keyframes opening {
  0% {
    visibility: visible;
    opacity: 0;
  }
  20% { opacity: 1; }
  90% { opacity: 1; }
  to { opacity: 0; }
}

// Logo
@keyframes logo {
  0% {
    position: relative;
    visibility: visible;
    width: 100%;
    transform: scale(1.8, 1.8);
  }

  50% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

// Crawl
@keyframes crawl {
  0% {
    visibility: visible;
    top: 100%;
  }
  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
  100% { top: -1000%; }


}

// Replay
@keyframes hide {
  0% {
    visibility: hidden;
  }

  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes replay {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

// @keyframes reverse {
//   0% {
//     transform: rotateZ(270deg);
//   }
//
//   100% {
//     transform: rotateZ(0deg);
//   }
// }
